{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "arrowFunctions":true
    },
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/href-no-hash": [0],
    "react/prefer-stateless-function": [0, { "allowGlobals": false }],
    "eol-last": 1,
    "linebreak-style": ["error", "windows"]
  }
}

